Hello {{ student_name }}:

In response to Professor {{ instructor_name }}'s request, your Tufts HPC Cluster account has been created and set up for $2.

You now have access to the class folder ({{ class_dir }}) along with a private subfolder ({{ student_dir }}).

Please review Tufts HPC Cluster New User Guide at https://go.tufts.edu/cluster for information regarding HPC Cluster Connection, Login, File Transfer,and Usage.

If you have additional class related questions, please contact your instructor.

Cheers,

{{ footer }}