Hello,

The requested quota increase has been applied to HPC Cluster storage {{ path }}. To verify the quota changes, please do the following:

NOTE: If you outside the Tufts network, you need to connect to Tufts VPN first.
1. Go to ondemand.pax.tufts.edu/pun/sys/shell/ssh/login.pax.tufts.edu
2. Run: date && df -h {{ path }}

{{ notifications }}

Thank you,

{{ footer }}