WELCOME
to the Tufts HPC cluster provided by Tufts Technology Services.
Please go to the link below to review IMPORTANT information on:
Cluster Access, User Guides, Storage, and User Support.
https://go.tufts.edu/cluster
 
Tufts Network -- 2FA
2FA via DUO is required before you can utilize the Tufts HPC Cluster when work on Tufts network.
Details about 2FA on Tufts HPC cluster can be found at:
https://tufts.app.box.com/file/835895377130?v=2FAonTuftsHPC
If assistance is needed with Tufts 2FA, please contact TTS Service Desk at 617-627-3376.
 
Outside Tufts Network -- VPN
Tufts VPN (https://access.tufts.edu/vpn) is required before you can utilize the Tufts HPC Cluster and OnDemand web interface when work outside Tufts network.
If assistance is needed with Tufts VPN, please contact TTS Service Desk at 617-627-3376.
 
New User Guides
New users of the Tufts HPC cluster should utilize the support documents within the links below.
The contents are comprised of the following information: login, file transfer, job submission, using applications/software, updated workshop information, etc.
HPC User Guide (https://go.tufts.edu/cluster)

 
ADDITIONAL REQUEST AFTER CLUSTER ACCOUNT CREATION:
If this section was filled out on the Cluster account request, then a child ticket is now in TTS Research Technology Team's queue.
They will follow-up with you on the additional request very soon.
 
Sincerely,
 
{{ rt_user }}
TTS Research Technology