Hello,

Your Tufts HPC Cluster account has been created and set up for course {{ course_name }}.

As the designated TA, you now have access to the class folder ({{ class_dir }}/shared) along with a private subfolder ({{ class_dir }}/{{ ta_username }}).

Please review Tufts HPC Cluster New User Guide at https://go.tufts.edu/cluster for information regarding HPC Cluster Connection, Login, File Transfer,and Usage.

If you have additional class related questions, please contact your instructor.

Thank you,

{{ footer }}
