Closing - Storage created

RSTORE VAST DRIVE INFORMATION
====================================
Name: {{ share_name }}
AD Group: {{ group }}
Quota: {{ quota }}
Owner: {{ owner }}
Approvers: {{ approvers }}

==
Hello,

Your new RStore Drive has been created. 

{{ drive_mapping_instructions }}

{{ notifications }}

Thank you,

{{ footer }}